* {
    box-sizing: border-box;
}

.container {
    height: auto;
}

div {
    border: 1px solid black;
}

#image {
    height: 300px;
    width: 70%;
    float: left;
}

#img-text {
    width: 30%;
    height: 300px;
    background-color: red;
    float: left;
}

#search-area {
    width: 100%;
    height: 50px;
    background-color: blueviolet;
    float: left;
}

#map {
    height: 100px;
    width: 70%;
    background-color: blue;
    float: left;
}

#result-list {
    width: 30%;
    height: 100px;
    background-color: orange;
    float: left;
}